/* Stylesheet (Amerens Jongsma) linkedviewsplot, linkedviews.js, linkedviews.html */
body {
  background: white;
  font-family: verdana;
  /* #e6f2ff */
}

h1 {
  font-family: verdana;
  font-size: 35px;
  color: #252525;
  font-weight: bold;
}
h2 {
  font-family: georgia;
  font-size: 30px;
  color: #737373;
}
h3 {
  font-family: georgia;
  font-size: 15px;
  color: #969696;
}
h4 {
  font-family: georgia;
  font-size: 14px;
  color: black;
}


p {
    font-family: verdana;
    font-size: 12px;
    color: blue;
    text-decoration: underline;
}
.axis path,
.axis line {
    fill: #737373;
    /* stroke: pink; */
    shape-rendering: crispEdges;
}

.axis {
  font-family: verdana;
  font-size: 10px;
  align-content: center;
}

/* tooltip styles source: http://bl.ocks.org/Caged/6476579   */
.d3-tip {
  line-height: 2;
  font-weight: bold;
  padding: 5px;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: #fed976;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: #fed976;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* title  of bar chart */
.plot{
  font-family: verdana;
  font-size: 15px;
  text-decoration: underline;

}

#worldmap {
  position: relative;
  display: block;
  margin: auto;
  width: 900px;
  height: 700px;
}


#box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

#container2 {
  position: relative;
  display: block;
  margin-left: 150px;
  width: 350px;
  height: 350px;


}

#container3 {
  position: relative;
  display: block;
  margin-left: 50px;
  margin-bottom: 100px;
  width: 350px;
  height: 350px;
}

#test {
  background-image: url("tulp.jpg");
}
