/* Stylesheet (Amerens Jongsma) linkedviewsplot, linkedviews.js, linkedviews.html */
body {
  background: pink;
  font-family: verdana;
  /* #e6f2ff */
}

h1 {
  font-family: verdana;
  font-size: 35px;
  color: #252525;
  font-weight: bold;
}
h2 {
  font-family: georgia;
  font-size: 30px;
  color: #737373;
}
h3 {
  font-family: georgia;
  font-size: 15px;
  color: #969696;
}
h4 {
  font-family: georgia;
  font-size: 14px;
  color: black;
}


p {
    font-family: verdana;
    font-size: 12px;
    color: blue;
    text-decoration: underline;
}
.axis path,
.axis line {
    fill: pink;
    stroke: pink;
    shape-rendering: crispEdges;
}

.axistext{
  font-family: georgia;
  font-size: 10px;
  align-content: center;
}


/* tooltip styles source: http://bl.ocks.org/Caged/6476579   */
.d3-tip {
  line-height: 2;
  font-weight: bold;
  padding: 5px;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: pink;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: pink;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

circle{
  stroke: #969696;
}
circle:hover{
  fill: pink;
  stroke: #969696;
}

.plot{
  font-family: verdana;
  font-size: 22px;
  text-decoration: underline;

}
